@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.whoIsWatching {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/back.jpg") no-repeat center center/cover;
}

.whoIsWatching::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: insert 120px 100px 250px #000000,
    insert -120px -100px 250px #000000;
}

.logo-section {
  position: relative;
  height: 90px;
  z-index: 2;
}

img {
  width: 100%;
}
.logo-section img {
  width: 200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .logo-section {
  width: 95vw;
  margin: auto;
  height: 15rem;
  background-color: rgb(248, 232, 232);
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

/* .logo-section a img {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
} */

.main-div {
  width: 100vw;
  height: 80vh;
  /* background-color: rosybrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: yellow;
  /* z-index: 2; */
}

.main-div h1 {
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
  font-size: 600;
  z-index: 2;
}

.memberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

.memberDiv .btn,
.addIcon {
  height: 10vw;
  min-height: 8.4rem;
  max-height: 20rem;
  width: 10vw;
  min-width: 8.4px;
  max-width: 20rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-right: 3.5rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.memberDiv .btn:nth-child(1) {
  background-image: url("https://joeschmoe.io/api/v1/male/random");
}

.memberDiv .btn:nth-child(2) {
  background-image: url("https://joeschmoe.io/api/v1/random");
}

.memberDiv .btn:nth-child(3) {
  background-image: url("https://joeschmoe.io/api/v1/joe");
}

.memberDiv .btn:hover {
  box-shadow: inset 0 0 0 5px rgba(219, 50, 8, 0.9);
}

.memberDiv .btn span,
.addIcon span {
  width: inherit;
  /* background-color: red; */
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  text-transform: capitalize;
  color: rgb(153, 153, 153);
  font-size: 2rem;
  z-index: 2;
}

.fa-plus-circle {
  font-size: 7vw;
  color: grey;
  opacity: 0.8;
  z-index: 2;
}

.addIcon {
  background-color: transparent;
}

.addIcon:hover {
  background-color: #fff;
}

.addicon:hover > .fa-plus-circle {
  opacity: 1;
}

.manageProfile {
  border: 1px solid grey;
  color: grey;
  text-transform: uppercase;
  padding: 0.8rem 2.6rem;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  margin-top: 12rem;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
.manageProfile:hover {
  border: 1px solid #fff;
  color: #fff;
}
