:root {
  --primary-color: yellow;
  --secondary-color: red;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  --webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: #001;
  color: yellow;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: yellow;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/back.jpg") no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: insert 120px 100px 250px #000000,
    insert -120px -100px 250px #000000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

img {
  width: 100%;
}
.showcase-top img {
  width: 200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: center;
  margin-top: 14rem;
}

.showcase-content h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2;

  opacity: 0.8;
  z-index: 2;
}

.showcase-content p {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.8;
  z-index: 2;
}
/* Button */
.btn {
  display: inline-block;
  background: var(--secondary-color);
  color: yellow;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  z-index: 2;
}

.btn:hover {
  opacity: 0.7;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.container {
  display: flex;
  width: 96vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  border-radius: 80px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 26px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  margin: 0;
  opacity: 0;
  font-weight: 600;
  color: rgb(245, 11, 11);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.panel h1 {
  font-size: 26px;
  position: absolute;
  top: 20px;
  right: 450px;
  margin: 0;
  opacity: 0;

  color: rgb(245, 11, 11);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
.contact {
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #000000;

  /* pop-up text arrow */
  /* text pops up when icon is in hover state */
}

.contact a {
  font-size: 20px;
  margin: 70px;
  font-family: sans-serif;
  color: red;
}
